[Desktop Entry]
Type=Application
Name=Cliprove
Comment=Clipboard history for KDE Plasma
Exec=cliptool
Icon=cliprove-minimal
Categories=Utility;
Terminal=false
StartupNotify=true
